<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign In</h3>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth(0)">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>

      </div>
      <div class="redirectToLogin" >
        <span style="color: black">Don't have an account?<span class="redirect" style="color: black"routerLink="/register-user"> Sign Up</span></span>
      </div>
    </div>
  </div>
</div>
