<app-menu>
  
<div class="main-div">
        <mat-card class="z-depth center" flex="50" >
            <div *ngIf="authService.userData as user">                      
                <h5>Player: {{user.email}}</h5>
            </div>
            <div class="row">
                <div>
                  <h4>Statistics</h4>
                  <h5>Wins: {{wins}}</h5>
                  <h5>Defeats: {{defeats}}</h5>
                  <h5>Draws: {{draws}}</h5>
                </div>
                <div>
                  <h4>Division</h4>
                </div>
            </div>
        </mat-card>
      </div>
  
 
    
  </app-menu>