.center {
  width: 75%;
  height: 65%;
  margin: 10px auto;
}

.statistics {
  width: 50%;
  text-align: center;
  height: 30%;
  position: relative;
  float: left;
}

h4 {
  font-size: 2vw;
}

p {
  font-size: 2vw;
}

.title {
  width: 100%;
  text-align: center;
  height: 25%;
}

.division {
  text-align: center;
  width: 50%;
  position: relative;
  float: left;
}