<header class="chat-header">
  <h4 *ngIf="!currentRoom"></h4>
  <span class="participants"></span>
</header>
<section class="chat-session">
  <ul class="message-list">
    <li class="user-message" *ngFor="let message of messages">
      <span class="user-id">{{ message.Author }}</span>
      <span>{{ message.Text }}</span>
    </li>
  </ul>
</section>
<footer class="chat-footer">
  <form class="message-form" (ngSubmit)='envio()'>
    <input class="message-input" placeholder="Type a message." type="text" name="message" [(ngModel)]="newMessage" />
  </form>
</footer>
