<h1 mat-dialog-title>{{ name }} Game Settings (Player vs Player)</h1>
<div mat-dialog-content>
  <section class="section">
    <section class="section">
      <mat-radio-group [(ngModel)]="memory_levels">
        <mat-radio-button class="margin" value="easy">Easy</mat-radio-button>
        <mat-radio-button class="margin" value="medium"
          >Medium</mat-radio-button
        >
        <mat-radio-button class="margin" value="hard">Hard</mat-radio-button>
      </mat-radio-group>
    </section>
    <button mat-raised-button color="primary" (click)="onSubmitNewGame()">
      Create Game
    </button>
    <button mat-raised-button color="primary" (click)="showGames()">
      Unirse a una partida
    </button>
    <div class="col-lg-8 col-md-8" *ngIf="showRooms">
      <mat-table [dataSource]="gameTable">
        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.user }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
          <mat-cell *matCellDef="let user">
            {{ user.created | date: 'short' }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="number of players">
          <mat-header-cell *matHeaderCellDef>
            Number of players
          </mat-header-cell>
          <mat-cell *matCellDef="let user">
            {{ user.numberOfPlayers }} / 2</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="join">
          <mat-header-cell *matHeaderCellDef> Join Session </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <button
              mat-button
              color="primary"
              [disabled]="user.numberOfPlayers >= 2"
              (click)="joinGame(user.id)"
            >
              Join
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
</div>
