<div class="content">
  <app-menu>
      <mat-grid-list cols="10">
          <div *ngFor="let i of jsonTablero; let r = index">  
            <mat-grid-tile (click)="click()" *ngFor="let j of i; let c = index" [ngClass]="{'BlackBox': (r%2==0 && c%2 !=0) || (r%2!=0 && c%2 ==0), 
            'WhiteBox': (r%2==0 && c%2 ==0) || (r%2!=0 && c%2 !=0)}"></mat-grid-tile>
            <!--, 'pieceRed': (j === 'R'), 'pieceWhite': (j === 'B') Para imagen de fondo-->
          </div>
      </mat-grid-list>
  </app-menu>
</div>