<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <div class="row" *ngIf="authService.userData as user">
    <img class="imgRedonda" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}">
    <p class="email-user">{{user.email}}</p>
    <h1 class="game-title">
      Games Room
    </h1>
  </div>  
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          
          <li class="nav-item">
            <a class="nav-link" (click)="authService.Home()">Home
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link">Saved Games
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link">My Profile
            </a>
          </li>


          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>
