<h1 mat-dialog-title>Game Settings (Player vs IA)</h1>
<div mat-dialog-content>
  <section class="section">
    <mat-radio-group [(ngModel)]="levels">
      <mat-radio-button class="margin" value="easy">10x10</mat-radio-button>
      <mat-radio-button class="margin" value="medium">15x15</mat-radio-button>
      <mat-radio-button class="margin" value="hard">18x18</mat-radio-button>
    </mat-radio-group>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button (click)="onSubmitNewGame('')">Create Game</button>
</div>