<app-menu>
  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" [dataSource]="playersTable" matSort aria-label="Elements">

      <!-- User Name -->
      <ng-container matColumnDef="Player">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Player</th>
        <td mat-cell *matCellDef="let row">{{row.nameUser}}</td>
      </ng-container>

      <!-- Condition -->
      <ng-container matColumnDef="Condition">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Condition</th>
        <td mat-cell *matCellDef="let row">{{row.estado}}</td>
      </ng-container>

      <!-- View -->
      <ng-container matColumnDef="View Details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>View Details</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="primary" (click)="viewPlayer(row.idUser)">
            View Profile
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</app-menu>