<div class="content">
  <app-menu>
    <div *ngIf="!onGoingGame" class="waiting" fxLayoutAlign="center center" fxLayout="column">
      <mat-spinner></mat-spinner>
      <h1>Waiting for Opponent....</h1>
    </div>
    <section *ngIf="onGoingGame">
      <div class="container">
        <div class="cards_table">
          <span *ngFor="let card of gameProgress.board; index as i">
            <img class="img-card" src="{{ card.visible ? card.url : images_inact }}" (click)="card_selected(i)" />
          </span>
        </div>
      </div>
      <div *ngFor="let message of messages">
      </div>
      <div class="chat">
        <!--<app-chat-board></app-chat-board>-->
      </div>
    </section>
  </app-menu>
</div>
