* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  height: 500px;
  width: 60%;
}


.container::after {
  background: url(/assets/images/fondo.jpg);
  bottom: 0;
  left: 0;
  opacity: 0.6;
  position: relative;
  top: 0;
  z-index: -1;
}

.cards_table {
  padding: 5px;
  height: 100%;
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 479px) {
  .mesa-cartas{
    width: 90%;
  }
}

img.img-card:hover {
  position: relative;
  top: -7px;
}

img.img-card {
  padding: 5px;
  height: 90px;
  size: auto;
}
