* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 60%;
  padding-left: 0%;
}
.container::after {
  bottom: 0;
  left: 0;
  opacity: 0.6;
  top: 0;
  z-index: -1;
}
.cards_table {
  padding: 5px;
  height: 60%;
  width: 60%;
}

@media only screen and (max-width: 479px) {
  .mesa-cartas {
    width: 90%;
  }
}

img.img-card:hover {
  position: relative;
  top: -7px;
}

img.img-card {
  padding: 5px;
  height: 90px;
  size: auto;
}

.chat-board {
  margin-top: 1%;
  width: 44%;
  float: left;
  position: relative;
}

.status-board {
  margin-top: 3%;
  width: 40%;
  float: left;
  position: relative;
}
