* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
}

.container::after {
  bottom: 0;
  left: 0;
  opacity: 0.6;
  top: 0;
  z-index: -1;
}

.cards_table {
  padding: 5px;
  height: 60%;
  width: 60%;
  float: left;
  position: relative;
}

@media only screen and (max-width: 479px) {
  .mesa-cartas {
    width: 90%;
  }
}

img.img-card:hover {
  position: relative;
  top: -7px;
}

img.img-card {
  padding: 5px;
  height: 90px;
  size: auto;
}

.chat-board {
  margin-top: 1%;
  width: 40%;
  min-width: 300px;
  height: 50%;
  float: left;
  margin-left: 3%;
  position: relative;
}
