.card {
    max-width: 80%;
  }
  
  .header-image {
    background-size: cover;
  }

  .level_titlte {
    margin: 2%;
  }
  
  .section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60%;
  }
  
  .margin {
    margin: 0 10px;
  }