<div class="content">
  <app-menu>
    <mat-card class="checkers">
      <img mat-card-image src="/assets/memory.png" />
      <mat-card-actions>
        <button mat-button (click)="openSettingPlayers()">Player vs Player</button>
        <button mat-button (click)="openSettingsIA()">Player vs IA</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="memory">
      <img mat-card-image src="/assets/checkers.png" />
      <mat-card-actions>
          <button mat-button (click)="openSettingPlayers()">Player vs Player</button>
          <button mat-button (click)="openSettingsIA()">Player vs IA</button>
        </mat-card-actions>
    </mat-card>
  </app-menu>
</div>
