<div class="content">
  <app-menu>
    <mat-card class="checkers">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Checkers Master Game</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="" alt="" />
      <mat-card-content>
        <p>
          Welcome to the best Checkers Master Game! XD
        </p>

        <div>
            <P class="level_titlte">Difficulty level:</P>
            <section class="section">
              <mat-radio-group [(ngModel)]="checkers_levels">
                <mat-radio-button class="margin" value="easy">Easy</mat-radio-button>
                <mat-radio-button class="margin" value="medium">Medium</mat-radio-button>
                <mat-radio-button class="margin" value="hard">Hard</mat-radio-button>
              </mat-radio-group>
            </section>
        </div>

    </mat-card-content>
    <mat-card-actions>

        <button mat-button>1 Player</button>
        <button mat-button>2 Players</button>
      </mat-card-actions>
    </mat-card>

<mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Memory Game</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="" alt="">
        <mat-card-content>
            <p>
            Welcome to the best Memory Game! XD
            </p>

            <div>
                <P class="level_titlte">Difficulty level:</P>
                <section class="section">
                  <mat-radio-group [(ngModel)]="memory_levels">
                    <mat-radio-button class="margin" value="easy">Easy</mat-radio-button>
                    <mat-radio-button class="margin" value="medium">Medium</mat-radio-button>
                    <mat-radio-button class="margin" value="hard">Hard</mat-radio-button>
                  </mat-radio-group>
                </section>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-button>1 Player</button>
            <button mat-button>2 Players</button>
        </mat-card-actions>

    </mat-card>
  </app-menu>
</div>
